* {
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board {
  position: relative;
  display: inline-block;
}

#game {
  position: relative;
  display: inline-grid;
  background: black;
}

.game-status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin: 20px 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 3px solid red;
  box-shadow: 0 0 0 5px yellow;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  z-index: 2;
  pointer-events: none;
}


.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin-top: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}
.start-button:hover {
  border: 5px solid darkgray;
  background: darkblue;
  color: white;
}

.hide {
  display: none;
}

.square {
  display: block;
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
}

.blank {
  background: black;
}

.wall {
  border: 1px solid blue;
}

.dot {
  background: white;
  border: calc((var(--cell-size) - var(--dot-size)) / 2) solid black;
  border-radius: 50%;
}

.pill {
  background: white;
  border: calc((var(--cell-size) - var(--pill-size)) / 2) solid black;
  border-radius: 50%;
}

.ghost_lair {
  background: black;
}

.ghost {
  position: relative;
  width: var(--ghost-size);
  height: var(--ghost-size);
  place-self: center;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.cherry {
  background-image: url('./img/cherry.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pacman {
  background: yellow;
  border: none;
  width: var(--pacman-size);
  height: var(--pacman-size);
  place-self: center;
  border-radius: 50%;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 0%,
    40% 50%,
    100% 100%,
    100% 100%,
    0% 100%
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}